html, body {
 	height: 100%;
}
div.row {
	/*border: 1px solid silver;*/
}
.container-fluid {
	height: 100%;
}
.stocks-wrapper {
	padding-bottom: 10px;
}
.nav-wrapper {
	padding-bottom: 10px;
}
.right-col {
	height: 100%
}

.field {
        display: block;
      }